{% extends 'base.html.twig' %}
{% block heading %} {% endblock %}
{% block title %} {{ thread.subject }} {% endblock %}
{% block body %}

<div id="thread-container">
    <div id="thread-inner-container">
        <a href="/messaging" class="btn btn-secondary messaging-back-button">⬅️ back to inbox</a>
        <h2>{{ thread.subject }}</h2>
        <div id="messages-container">
            {% for message in thread.messages %}
            {% if message.sender == app.user.username %}
            <div class="alert alert-success" role="alert">
                {% else %}
                <div class="alert alert-secondary" role="alert">
                    {% endif %}
                    <div class="messenger_thread_message">
                        <div class="messenger_thread_message_info text-muted">
                            {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
                        </div>

                        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                            {{ message.body }}
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>

        {#<h5>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h5>#}

        <div class="card">
            <div class="card-body">
                <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                    {{ form_widget(form) }}

                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Send message" />
                </form>
            </div>
        </div>

    </div>

</div>


{% endblock %}

{% block javascripts %}
    <script>
        var objDiv = document.getElementById("messages-container");
        objDiv.scrollTop = objDiv.scrollHeight;

        var navItem = document.getElementById("inbox-nav-item");
        navItem.classList.add("active");
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        setInterval(function(){
            $.ajax({
                url: "{{ (path('ajax_update_messages')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "thread_id": {{ thread.id }},
                    "last_update": "{{thread.lastUpdated|date("H/i/s/d/m/Y")}}"
                },
                success: function (data)
                {
                    if(data == "Refresh")
                        location.reload();
                }
            });

        }, 5000);
    </script>
{% endblock %}